.movies-card-list__container {
   /* max-width: 90%; */
   display: grid;
   column-gap: 30px;
   row-gap: 90px;
   margin: 0 auto;
   margin-top: 80px;
   grid-template-columns: repeat(3, minmax(300px, 1fr));
   grid-auto-rows: minmax(201px, auto);
}

.movies-card-list__more {
   display: flex;
   justify-content: center;
   max-width: 1140px;
   margin: 105px auto 80px;
}

.movies-card-list__button {
   font-size: 12px;
   font-weight: 500;
   line-height: 15px;
   background-color: #F9F9F9;
   width: 320px;
   height: 36px;
   border-radius: 6px;
   border: none;
}

.movies-card-list__button:hover {
   opacity: 0.8;
   transition: opacity 0.2s;
   cursor: pointer;
}

@media screen and (max-width: 1160px) {
   .movies-card-list__container {
      grid-template-columns: repeat(2, minmax(290px, 1fr));
      row-gap: 60px;
      max-width: 1040px;
   }

   .movies-card-list__container>.movies-card:nth-child(n+9) {
      display: none;
   }
}

@media screen and (max-width: 960px) {
   .movies-card-list__container {
      margin-top: 79px;
      column-gap: 30px;
      row-gap: 80px;
   }

   .movies-card-list>.movies-card:nth-child(n+9) {
      display: none;
   }

   .movies-card-list__more {
      margin: 92px auto 118px
   }
}

@media screen and (max-width: 768px) {
   .movies-card-list__container {
      /* margin-left: 30px; */
      grid-template-columns: repeat(2, minmax(290px, 1fr));
      row-gap: 77px;
      max-width: 708px;
   }
}

@media screen and (max-width: 759px) {
   .movies-card-list__container {
      width: auto;
      margin-left: auto;
      column-gap: 40px;
   }
}

@media screen and (max-width: 660px) {
   .movies-card-list__container {
      grid-template-columns: repeat(1, minmax(290px, 1fr));
      row-gap: 36px;
      max-width: 300px;
   }

   .movies-card-list__container>.movies-card:nth-child(n+6) {
      display: none;
   }

   .movies-card-list__more {
      margin: 95px auto 135px;
   }

   .movies-card-list__button {
      width: 240px;
   }
}

@media screen and (max-width: 350px) {
   .movies-card-list__container {
      margin-top: 50px;
   }

   .movies-card-list__more {
      margin: 64px auto 135px;
   }
}