.auth-form__container {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.auth-form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.auth-form__logo {
   width: 38px;
   height: 38px;
   margin-top: 70px;
}

.auth-form__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   margin-top: 40px;
   margin-bottom: 40px;
}

.auth-form__form {
   display: flex;
   flex-direction: column;
}

.auth-form__label {
   color: #A0A0A0;
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   margin-bottom: 10px;
}

.auth-form__input {
   background-color: #F9F9F9;
   color: #000000;
   border: none;
   border-radius: 8px;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   white-space: nowrap;
   overflow: hidden;
   padding: 15px;
   margin-bottom: 20px;
   outline: none;
}

.auth-form__button {
   text-align: center;
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 3px;
   width: 396px;
   height: 45px;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   cursor: pointer;
   transition: opacity 0.2s;
   margin-top: 68px;
   margin-bottom: 16px;
}

.auth-form__login-button {
   text-align: center;
   background-color: #000;
   color: #fff;
   border: none;
   border-radius: 3px;
   width: 396px;
   height: 45px;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   cursor: pointer;
   transition: opacity 0.2s;
   margin-top: 157px;
   margin-bottom: 16px;
}

.auth-form__footer {
   text-align: center;
   color: #A0A0A0;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   margin: 0 5px 50px 0;
   margin: 0 auto;
}

.auth-form__link {
   text-align: center;
   color: #000;
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   margin-left: 4px;
}

@media (max-width: 900px) {
   .auth-form {
      margin-top: 162px;
   }
}

@media (max-width: 500px) {
   .auth-form {
      margin-top: 0px;
      align-items: center;
   }

   .auth-form__form {
      width: 260px;
   }

   .auth-form__button {
      width: 260px;
      margin-top: 155px;
      font-size: 12px;
   }

   .auth-form__logo {
      margin-top: 58px;
   }

   .auth-form__title {
      margin-top: 46px;
      margin-bottom: 83px;
   }

   .auth-form__footer {
      font-size: 12px;
   }
}