.saved-movies {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}

@media screen and (max-width: 1160px) {
   .saved-movies {
      margin-bottom: 150px;
   }
}

@media screen and (max-width: 768px) {
   .saved-movies {
      margin-bottom: 243px;
   }
}

@media screen and (max-width: 660px) {
   .saved-movies {
      margin-bottom: 190px;
   }
}